body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #E5E5E5;
    
}

.container{
    position: relative;
    background-color: #EEEEEE;
}

.topo{
    width: 414px;
    height: 92px;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px 0px #00000040;
    position: fixed;
    top: 0;
    z-index: 1;
}

.topo h1{
    font-family: 'Righteous', cursive;
    font-size: 44px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 15px;
}

.topo p{
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 20px;
}

.pedidos{
    background-color: #EEEEEE;
    width: 414px;
    margin-top: 110px;
}

.pedidos h2{
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
    margin: 30px 0 15px 20px;
}

.pratos, .bebidas, .sobremesas{
    display: flex;
    gap: 15px;
    margin: 0 20px 0 20px;
    overflow-x: scroll;
    
}

.pratos::-webkit-scrollbar, .bebidas::-webkit-scrollbar, .sobremesas::-webkit-scrollbar{
    width: 0;
    background-color: transparent;
}

.opcao{
    width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px #00000040;
    padding: 15px;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
}    

.opcao img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.opcao p:nth-child(2){
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
}


.opcao p:nth-child(3){
    margin-top: 5px;
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
}

.opcao p:nth-child(1){
    margin-top: 10px;
    font-size: 16px;
    color: #000000;
}

.preco{
    display: flex;
    justify-content: space-between;
}

.opcao .preco .check{
    font-size: 19px;
    margin-top: 10px;
    color: #32B72F;
    opacity: 0;
    }


.sobremesas{
    margin-bottom: 92px;
}

.footer{
    width: 414px;
    height: 92px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 1;
}


.footer button:nth-child(1){
    border: none;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    background-color: #CBCBCB;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin: 10px 0 10px 0;
}

.pedir{
    border: none;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    background-color: #32B72F;
    text-align: center;
    margin: 10px 0 10px 0;
}

.pedir a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}


/* Classe para usar no JS */

.selecionado{
    box-shadow: 0px 0px 0px 5px #32B72F inset;
}

.pedidos .opcoes .opcao.selecionado .check{
    opacity: 1;
}

.escondido{
    display: none;
}


/* Tela de confirmação de pedido - Bônus */

.tela-final{
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo{
    width: 414px;
    height: 1030px;
    background-color: #fff;
    opacity: 0.9;
}

.container-pedido{
    width: 377px;
    height: 353px;
    background-color:#50D074;
    border-radius: 9px;
    box-shadow: 0px 0px 10px 1px #00000040;
    position: absolute;
    z-index: 1;
    top: 200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.titulo{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

.pedido{
    width: 329px;
    margin-top: 20px;
    display: grid;
    gap: 10px;
}

.prato-pedido, .bebida-pedida, .sobremesa-pedida, .total{
    display: flex;
    justify-content: space-between;
}

.nome-item, .preco-item{
    font-size: 22px;
    color: #fff;
}

.total p{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.container-pedido button:nth-child(3){
    margin-top: 20px;
    border: none;
    width: 329px;
    height: 52px;
    border-radius: 100px;
    background-color: #fff;
    text-align: center;
}

.container-pedido button:nth-child(3) a{
    color:#50D074;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
}

.container-pedido button:nth-child(4){
    margin-top: 20px;
    border: none;
    background-color: #50D074;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.esconder{
    display: none;
}